<configuration>
    <!-- Console appender with simple output for tests -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Test root logger -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
